<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navbar}">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <h2 class="text-center text-dark mt-5">Поиск чая</h2>

                <form th:action="@{/tea/}"
                      th:method="get"
                      th:object="${form}"
                      class="mb-3">
                    <div class="input-group">
                        <input type="text"
                               th:field="*{name}"
                               class="form-control"
                               placeholder="Поиск по названию"/>
                        <input type="text"
                               th:field="*{sort}"
                               class="form-control"
                               placeholder="Поиск по сорту"/>
                        <input type="number"
                               th:field="*{startCost}"
                               class="form-control"
                               placeholder="min price"
                               min="0" max="9999"/>
                        <input type="number"
                               th:field="*{endCost}"
                               class="form-control"
                               placeholder="max price"
                               min="0" max="9999"/>
                        <input type="hidden" th:field="*{page}" />
                        <input type="hidden" th:field="*{size}" />
                        <button class="btn btn-primary" type="submit">Поиск</button>
                    </div>
                </form>

                <div th:if="${not #lists.isEmpty(model.teas)}">

                    <div th:each="tea : ${model.teas}"
                         class="d-flex flex-column bg-text mb-3 p-3 border rounded">
<!--                        <img th:src="${tea.image}">-->
<!--                        <img th:src="orange-cookie.webp">-->
                        <h2 th:text="'Название: ' + ${tea.name}">Название чая</h2>
                        <h2 th:text="'Цена: ' + ${tea.cost}">Цена</h2>
                        <h2 th:text="'В наличии: ' + ${tea.availability}">В наличии</h2>
                        <h2 th:text="'Сорт: ' + ${tea.sort}">Сорт</h2>
                        <h2 th:text="'Поставщик: ' + ${tea.supplier}">Поставщик</h2>
<!--                        <h4 th:text="'Год издания: ' + ${tea.year}">Действует скидка?</h4>-->
                        <div class="mt-2">
                            <a class="btn btn-secondary"
                               th:href="@{/tea/{id}(id=${tea.id})}">Подробнее</a>
                        </div>
                        <form th:action="@{/basket/add-tea}" method="post" class="mt-2">
                            <input type="hidden" name="teaId" th:value="${tea.id}">
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </form>
                    </div>

                    <nav th:if="${model.totalPages > 1}" aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"
                                th:each="pageNumber : ${#numbers.sequence(1, model.totalPages)}"
                                th:classappend="${pageNumber == form.page} ? 'active'">
                                <a class="page-link"
                                   th:href="@{/tea/(
                                   page=${pageNumber},
                                   size=${form.size},
                                   name=${form.name},
                                   sort=${form.sort},
                                   startCost=${form.startCost},
                                   endCost=${form.endCost})}"
                                   th:text="${pageNumber}">1</a>
                            </li>
                        </ul>
                    </nav>
                </div>

<!--                <div class="mt-4">-->
<!--                    <a class="btn btn-success" th:href="@{/books/create}">Добавить новую книгу</a>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>